@{
  Layout = "_Layout";
}
<body>
  <div ="col-md-12">
    <h1> @Model.GetName() </h1>
    <h4>Phone: @Model.GetNumber()</h4>
    <h4>Email: @Model.GetEmail()</h4>
    <h4>Address: @Model.GetAddress()<h4>

    <button type="button" class="btn"><a href='/form'>New Contact</a></button>
    <button type="button" class="btn"><a href='/'>Back to Contacts</a></button>
  </div>
</body>
